body {
  padding: 4%;
  background-color: #f5f6fa;
  font-family: "Montserrat", sans-serif;
}

.App {
  text-align: center;
}

#root {
  margin: 0;
  padding: 0 0 8%;
  border-radius: 4px;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.05);
  background-color: #fafafa;
}

.container {
  padding: 4%;
}

.horizontal-divider {
  height: 0.125rem;
  background-color: #e8e8e8;
  width: 100%;
  margin: 2.5rem 0 1.813rem;
}

.form {
  padding: 20px 0;
}

.nav-brand {
  font-family: "Montserrat", sans-serif;
  font-size: 1.875rem;
  font-weight: 700;
  color: #0290ff;
  text-decoration: none;
}

.nav-bar {
  padding: 24px 4%;
  background-color: #fff;
  border-bottom: 1px solid #e8e8e8;
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-links {
  display: flex;
  flex-grow: 1;
  list-style-type: none;
  gap: 40px;
}

.nav-link {
  opacity: 0.5;
  font-size: 0.813rem;
  color: #121212;
  letter-spacing: 1.9px;
  text-decoration: none;
}

.icon-button {
  cursor: pointer;
  width: 2.813rem;
  height: 2.813rem;
  border-radius: 50%;
  border: 1px solid #e8e8e8;
  background-color: #fff;
}

.input {
  padding: 12px;
  border-radius: 4px;
  border: 1px solid #e8e8e8;
  background-color: #fff;
  font-size: 1rem;
  letter-spacing: -0.15px;
  color: #121212;
}

.title-input {
  width: 30%;
}

.author-input {
  width: 30%;
}
.category-input {
  width: 20%;
}

.primary-button-big {
  cursor: pointer;
  width: 20%;
  padding: 12px;
  border-radius: 3px;
  background-color: #0290ff;
  border: none;
  letter-spacing: 0.5px;
  color: #fff;
  font-size: 0.813rem;
  font-weight: 700;
  font-family: "Roboto Slab", serif;
}

.add-form {
  margin-top: 20px;
  display: flex;
  grid-gap: 32px;
  gap: 32px;
}
